@font-face {
  font-family: avengeance;
  src: url(fonts/avengeance-font/Avengeance-E1zj.otf);
}

body{
    background-color: #EB181F;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: avengeance;
    text-shadow: 2px 2px 10px #EB181F;
    color: #FED541;
    font-size: larger;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* @keyframes flash_border {
  0% {
    border-color: #EB181F;
  }
  50% {
    border-color: black;
  }
  100% {
    border-color: #EB181F;
  }
} */


button{
  font-family: avengeance;
  font-size: 30px;
  font-weight: bolder;
  background-color: #FED541;
  color: #6E111C;
  padding: 20px 40px;
  border: 0;
  border-radius: 5px;
  margin: 0px 20px 20px 20px;
}

main{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(100px,200px));
  grid-gap: 10px;
}

.character-bowl{
  position: relative;
  height: 250px;
  overflow: hidden;
}

.bowl{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* border-bottom: 5px solid  #FED541;
  border-radius: 10px;
  padding-bottom: 0.5px; */
  /* border-bottom: 10px solid transparent;
  padding-bottom: 0.5px;
  border-image: url("./images/border-image.png") 30 round; */
}

.character{
  height:70%;
  position: absolute;
  left: 0;
  right: 0;
  z-index:0;
  margin: 0 auto;
  transition: all 0.4s;
  cursor: pointer;
  bottom: -50px;
  opacity: 0.3;
}

.up {
  opacity: 1;
  bottom: 50px;
}

#Logo{
  width: 40%;
  margin: 20px;
  padding: 20px;
  background-color: #EB181F;
  border-radius: 20px;
}


body{
  cursor:url('./images/Hammer.png'), auto;
  background-image:url('./images/space2.jpg');
}

button:hover{
  transition: all 0.75s;
  cursor:url('./images/HammerRotated.png'), auto;
}

button:active{
  transition: all 0.75s;
  cursor:url('./images/HammerHorizontal.png'), auto;
}


.character:hover{
  transition: all 0.4s;
  cursor:url('./images/HammerRotated.png'), auto;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  
}

.character:active{
  transition: all 0.4s;
  cursor:url('./images/HammerHorizontal.png'), auto;
  
}

/* Until here everything works */
#text {
  opacity: 1.0;
}